<a href="https://colab.research.google.com/github/joe4410joe/PyTrader-python-mt4-mt5-trading-api-connector-drag-n-drop/blob/master/1_05%E3%83%AA%E3%82%B9%E3%83%88%E5%86%85%E5%8C%85%E8%A1%A8%E8%A8%98(List_Comprehension).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#リスト内包表記
numbers = [i for i in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#リスト内包表記（条件分岐）
even_numbers = [i for i in range(1,11) if i % 2 == 0] #forは順番に、ifは%、2の倍数で＝＝0余り0である
print(even_numbers)

[2, 4, 6, 8, 10]

In [14]:
multiples_of_three = [i for i in range(1,31) if i % 3 == 0]
print (multiples_of_three)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]